<p>Logged in as: <%= current_user.username %></p>
<a href="/create_survey">Create a New Survey</a>
<br />
<form id="form-logout" action="/logout" method="post">
 	<input type="submit" value="logout" />
</form>
<br />