<h2>Sign in</h2>
<p>Welcome to Movie Ninja</p>
<form name="form-sign-in" action='/signin' method="POST">
	<input type="text" name ="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value ="submit">
</form>
<br />
<a href="/register">Register New User</a>