<p>Logged in as: <%= current_user.username %></p>

<h2>Select movies for your survey</h2>
<p>Enter movies to be included in your survey.</p>

	<form name="form-add-movie" action="/add_movie" method="POST">
		Movie Title: <input type="text" name ="movie_title">
		<input type="submit" value ="add movie">
	</form>

	<hr>

	<% if @movie_list %>
		<% @movie_list.each do |title| %>
		<%= title %> <br />
		<% end %>
	<% end %>

<br />
<% if @movie_list %>
<form id="button-finish-survey" action="/finish_survey" method="post">
	<input type="submit" value="finish survey" />
</form>
<br />
<% end %>
<br />

<form id="form-logout" action="/logout" method="post">
	<input type="submit" value="logout" />
</form>
<a href="../">Go Home</a>
