<p>Logged in as: <%= @user.username %></p>

<h2>Select movies for your survey</h2>
<p>Enter movies to be included in your survey.</p>

	<form name="form-create-survey" action='/create_survey' method="POST">
		Movie Title: <input type="text" name ="movie_title">
		<input type="submit" value ="submit">
	</form>
<br />
<a href="../">Go Home</a>
