<h3>Survey created by: <%= @survey.user.username %></h3>
<h4>Info:</h4>
<p><%= @survey.survey_info %></p>
<br />
<h4>Movies to choose from:</h4>
<% @survey.movies.each do |movie| %>
	<%= movie.title %><br />
<% end %>
<br />
<a href="../">Go Home</a>