#movie_list {
	width: 100%;
	display: block;
	background-color: red;
}

.movie {
	margin: 5px;
	padding: 5px;
	float: left;
}

.movie_pic {
	float: left;
}

.movie_info {
	float: left;
	width: 70%;
	background-color: red;
}

.movie_title {
	margin: 30px;
	font-family: "Helvetica", sans-serif;
	font-size: 1.4em;
}